/* 
=====================
IMPORTS
=====================
*/

/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');


/* 
=====================
RESET - Default Styles
=====================
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
=====================
VARIABLES
=====================
*/
:root {
    /* MediaQueries */
    --viewport-S: min-width: 768px;
    --viewport-m: min-width: 992px;
    --viewport-l: min-width: 1200px; 
     /*Fonts*/
    --font-p: 'Roboto', sans-serif;
    --font-h1: 'Roboto Slab', serif;

    /*Fonts Sizes*/
    --font-16px: 1rem;
    --font-18px: 1.125rem;
    --font-22px: 1.375rem;
    --font-24px: 1.5rem;
    --font-30px: 1.875rem;
    --font-40px: 2.5rem;
    --font-60px: 3.75rem;
    /* Colours */
    --clr-green-textfooter: #f3fbff;
    --clr-green-regular: #25e6c8;
    --clr-grey-ouline: #d2d2d2;
    --clr-grey-placeholder: #dedede;
    --clr-grey-placeholder2:#bfbfbf;
    --clr-grey-textcolour: #626262;
    --clr-grey-bordercolour: #707070;
    --clr-white-background: #f7f7f7;
    --clr-black-titlecolour: #363636;
    --clr-blue-bluecolour: #2baaec;
    --clr-blue-backgrounddark: #163c70;
}


/* 
=====================
GLOBAL HELP - CLASSES
=====================
*/
body, html {
    font-family: 'Roboto', 'sans-serif';
    line-height: 1.6;
}

.container {
    width: 73%;
    margin: auto;
}
.btn {
    padding: 0.75rem 2.5rem;
    display: inline-block;
    font-weight: bold;
    font-size: var(--font-18px);
    background: transparent;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    outline: none;
    cursor: pointer;
}

/* -------------MOBILE VIEW------------------ */

/* 
=====================
SECTION TOP MENU
=====================
*/
.topbar {
    height: 3.75rem;
    width: 100%;
    border-bottom: 1px solid #707070;
    display: flex;
    align-items: center;
    display: none;
}
.workHours {
    color: var(--clr-grey-textcolour);
    font-family: var(--font-p);
    font-size: var(--font-16px);
}
.fa-clock {
    font-size: 1.25rem;
    padding-right: 0.5rem;
    color: var(--clr-blue-bluecolour);
}

.topbar .container {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    color: var(--clr-blue-bluecolour);
    align-items: center;
}
.socMedia {
    display: flex;
    justify-content: space-between;
    width: 9%;
    font-size: 1rem;
}
/* Soc. media icons hover effekt */

.fa-twitter {
    color: var(--clr-blue-bluecolour);
}
.fa-twitter:hover {
    color: var(--clr-green-regular);
    transition: all 0.4s linear;
    transform: scale(1.8);
}
.fa-facebook-f {
    color: var(--clr-blue-bluecolour);
}
.fa-facebook-f:hover {
    color: var(--clr-green-regular);
    transition: all 0.4s linear;
    transform: scale(1.8);
}
.fa-google-plus-g {
    color: var(--clr-blue-bluecolour);
}
.fa-google-plus-g:hover {
    color: var(--clr-green-regular);
    transition: all 0.4s linear;
    transform: scale(1.8);
}
.fa-instagram {
    color: var(--clr-blue-bluecolour);
}
.fa-instagram:hover {
    color: var(--clr-green-regular);
    transition: all 0.4s linear;
    transform: scale(1.8);
}

/* 
=====================
SECTION MAIN MENU
=====================
*/
.mainmenu {
    padding: 2rem 0;
}
.mainmenu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;

}
.logo img {
    height: 65%;
}
.logo:hover {
    transition: all 0.5s linear;
    transform: scale(1.1);
}
.logotextbox {
    display: flex;
    /* align-items: flex-start; */
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1rem;
    position: relative;
}
.logotext1 {
    display: flex;
    /* align-items: flex-end; */
    font-size: var(--font-24px);
    font-family: var(--font-h1);
    color: var(--clr-black-titlecolour);
    font-weight: bold;
    letter-spacing: 0.05rem;
   
}
.logotext2 {
    display: flex;
    /* align-items: flex-end; */
    font-size: var(--font-24px);
    font-family: var(--font-h1);
    color: var(--clr-blue-bluecolour);
    width: 8rem;
}
.logotext3 {
    display: flex;
    /* align-items: flex-start; */
    font-size: var(--font-16px);
    font-family: var(--font-p);
    color: var(--clr-grey-textcolour);
    position: absolute;
    top: 2.3rem;
}

.textcontainer {
    display: flex;
    align-items: flex-start;
}


.fa-bars {
    font-size: 2rem;
    padding: 0.5rem 0.75rem;
    color:var(--clr-blue-bluecolour);
}
.linkbox:not(.show) {
    display: none;
}
.links {
    display: flex;
    list-style: none;
}
.links a {
    display: inline-block;
    text-decoration: none;
    padding-left: 2rem;
    color: var(--clr-grey-textcolour);
    font-family: var(--font-h1);
    font-size: var(--font-18px);
    font-weight: bold;
}
.links a:hover {
    color: rgb(34, 34, 34);
    transition: all 0.5s linear;
    transform: scale(1.2);

}
/* 
=====================
SECTION SHOWCASE
=====================
*/
.showcase {
    height: 70vh;
    width: 100vw;
    background: var(--clr-grey-placeholder);
    margin-top: 2rem;
/* position: fixed; */
}
.showcase .widercontainer {
    display: flex;
    height: 100%;
    width: 80%;
    margin: auto;
    position: relative;
    /* padding: 2rem 0; */
}
.showcase .container {
    
    height: 100%;
    width:100%;
    position: absolute;
    top: 0;
    right: 2rem;
    padding-left: 1rem;
    text-align: center;
    padding-top: 3rem;
}
.figur1 {
    /* height: 40rem; */
    display: none;
}
.showcasecontent h1 {
    font-size: var(--font-30px);
    font-family: var(--font-h1);
    color: var(--clr-black-titlecolour);
    line-height: 1.1;
}
.showcasecontent p {
    font-size: var(--font-16px);
    font-family: var(--font-p);
    color: var(--clr-grey-textcolour);
}

.btn-primary {
    background: var(--clr-green-regular);
    color: white;
    margin-top: 3rem;
    font-family: var(--font-p);
    width: 100%;
    
}
.btn-primary:hover {
    background: var(--clr-blue-bluecolour);
    color: rgb(255, 240, 240);
    font-weight: bolder;
    font-size: 1.3rem;
    padding: 0.75rem 2.8rem;
    transition: all 0.4s linear;
    transform: scale(1.1);
}
/* 
=====================
SECTION ABOUT US
=====================
*/
.aboutus {
    height: 100vh;
    width: 100vw;
    display: flex;
    /* justify-content: space-evenly; */
    margin-bottom: 4rem;

}

.contentleft {
    height: 80vh;
    display: flex;
    flex: 1.7;
    flex-direction: column;
}
.container-l {
   
    
}
.container-l h1 {
    font-family: var(--font-h1);
    font-size: var(--font-30px);
    color: var(--clr-black-titlecolour);
    border-bottom: 4px solid var(--clr-green-regular);
    margin-bottom: 3rem;
    line-height: 1.2;
    padding-bottom: 1.5rem;
    text-align: center;
}
.container-l h1 span {
    color: var(--clr-blue-bluecolour);
}
.container-l p {
    font-family: var(--font-p);
    font-size: var(--font-16px);
    color: var(--clr-grey-textcolour);
    padding-bottom: 2rem;
}
.container-l2 {
   display: block;

}
.container-l2 h1 {
    font-family: var(--font-h1);
    font-size: var(--font-18px);
    /* font-size: var(--font-40px); */

    padding-right: 3rem;
    color: var(--clr-blue-bluecolour);

 }
 .container-l2 p {
    font-family: var(--font-h1);
    font-size: var(--font-16px);
    /* font-size: var(--font-18px); */
    padding-right: 3rem;
    color: var(--clr-black-titlecolour);
}
.container-r {
 display: flex;
 flex: 1;
 height: 100vh;
 
}

/* 
=====================
SECTION SERVICES
=====================
*/
/* .services {
    margin-top: 4rem;
} */
/* .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.7fr 1fr 1fr;
     grid-template-columns: repeat(autofit, minmax(1fr, 1fr)); 
    width: 80%;
    margin: auto;
    height: 100vh;
    grid-gap:1rem ;
} */

/* .main {
    grid-area: 1/1/1/4;
    background: var(--clr-grey-textcolour);
}
.inspection {
    grid-area: 2/1/2/2;
    background: var(--clr-blue-bluecolour);
}
.removal {
    grid-area: 2/2/2/3;
    background: var(--clr-blue-backgrounddark);
}
.tartar {
    grid-area: 2/3/2/4;
    background: var(--clr-green-regular);
}
.cleaning {
    grid-area: 4/1/3/2;
    background: yellow;
}
.implants {
    grid-area: 3/2/3/3;
    background: red;
}
.protection {
    grid-area: 3/3/3/4;
    background: orange;
} */

/* TESTGRID */
/* TESTGRID */

.gridcontainer {
    display: grid;
    grid-template-columns: auto ;
    padding: 4rem 0;
    background: var(--clr-grey-textcolour);
    width: 80%;
    height: 11rem;
    margin: auto;
    text-align: center;
    background: var(--clr-white-background);
    display: flex;
    justify-content: center

}
.content h1 {
    border-bottom: 0.25rem solid var(--clr-green-regular);
    padding: 1rem 2rem 2rem 2rem;
    margin: auto;
    text-align: center;
    font-family: var(--font-h1);
    font-size: var(--font-40px);
    color: var(--clr-black-titlecolour);

}
/* .gridsection {
    padding-top: 12rem;
} */
.gridsection span {
    font-family: var(--font-h1);
    font-size: var(--font-22px);
    color: var(--clr-black-titlecolour);
    
}
.gridsection p {
    font-family: var(--font-p);
    font-size: var(--font-18px);
    color: var(--clr-grey-textcolour);
    padding-top: 1rem;
}
.gridsection img {
    /* width: 9rem;
    height: 9rem; */
    width: 6.75rem;
    height: 6.75rem;
    padding: 1rem;
    background: var(--clr-green-regular);
    background-size: 7.5rem 7.5rem;
    border-radius: 50%;
}
.gridsection img:hover {
    background: var(--clr-blue-bluecolour);
    box-shadow: 0 0 4pt 6pt var(--clr-green-regular);
    transition: all 0.5s linear;

}


.content {
    width: 33%;
}
.gridsection {
    width: 80%;
    margin: auto;
    background: var(--clr-white-background);
    padding:0;
}
.gridsection ul {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    /* background: ; */
    width: 100%;
    margin: auto;
    list-style-type: none;
    text-align: center;
    grid-gap: 2rem;
}

.gridsection li {
    /* background:; */
    height: 27.25rem;
    padding: 6rem 3rem;
}

/* 
=====================
APPOINTMENT
=====================
*/
.appointments {
    width: 80%;
    margin: auto;
    background: var(--clr-blue-bluecolour);
    height: 10rem;
    position: relative;
}
/* Border bottom with limited length */
.appointments:after {
    position: absolute;
    content: "";
    background: white;
    bottom: 0;
    left: 16.25rem;
    right: 16.25rem;
    height: 1px;
}
.overlay {
    background:rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 100%;
}
.appleft {
    /* float: left; */
    /* width: 70%; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.appleft span {
    font-family: var(--font-h1);
    font-size: var(--font-24px);
    font-weight: bold;
    color: #fff;
    text-align: center;
    word-spacing: 0.1rem;
}
.appright {
    /* float: right; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.btn-sec {

    text-align: center;
    background:var(--clr-blue-bluecolour);
    color: #fff;
    /* height: 1.8rem; */
    height: 23%;
    /* width: 12rem; */
    width: 40%;
    margin: -2.5rem 0 2rem 0;
    font-family: var(--font-p);
    font-size: 0.7rem;
    padding: 0rem 2rem;
    display: inline-block;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 0.5rem;
    outline: none;
    cursor: pointer;  
}

.btn-sec:hover {
    background: #fff;
    color: var(--clr-blue-bluecolour);
    font-weight: bolder;
    border: 1px solid #FFF;
  
}
/* 
=====================
FOOTER
=====================
*/
footer {
    clear: both;
    background:#2BAAEC;
    height: 4rem;
    width: 80%;
    margin: auto;
    /* text-align: center; */
  
  
}
footer .footcontainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-p);
    font-size: var(--font-18px);
    color: var(--clr-grey-textcolour);
}

/* 
=====================
MEDIA QUERIES
=====================
*/
@media (max-width: 450px){
   
    .logotext1, .logotext2{
        /* font-size: 1rem; */
        font-size: var(--font-22px);
    }
    .logotext2 {
        width: 4rem;
    }
    .logotext3 {
        /* font-size: 0.6rem; */
        font-size: var(--font-16px);
        top: 1.6rem;
    } 
    .fa-bars {
        font-size: 1.5rem;
}
.aboutus .container {
   padding-top: 2rem;
}
}

@media (min-width: 450px){
    .aboutus .container {
        padding-top: 2rem;
     }
     .main {
         grid-template-columns: 1fr
         grid-template-rows: 1fr;
     }
     .inspection {
         grid-template-columns: 1fr;
         grid-template-rows: 1fr;
     }
     .removal {
         grid-template-columns: 1fr;
         grid-template-rows: 1fr;
     }
     .tartar {
         grid-template-columns: 1fr;
         grid-template-rows: 1fr;
     }
     .cleaning {
         grid-template-columns: 1fr;
         grid-template-rows: 1fr;
     }
     .implants {
         grid-template-columns: 1fr;
         grid-template-rows: 1fr;
     }
     .protection {
         grid-template-columns: 1fr;
         grid-template-rows: 1fr;
     }
     .gridsection {
        padding:0;
     }
   
     
}

@media (max-width: 600px){
    /* .gridsection ul, .gridcontainer {
        grid-template-columns: auto;
        grid-template-rows: auto;
    } */

    .gridcontainer {
        text-align:center;
    }
    .content h1 {
        font-size: var(--font-20px);
    }

}



@media (min-width: 768px) {
    .topbar {
        display:flex;
    }
    .logo img {
        height: 100%;
    }
    .linkbox:not(.show) {
        display: flex;
    }
    .fa-bars {
    display: none;

    }
    .links a {
        font-size: var(--font-18px);  
        padding-left: 3rem;
    }
    .showcase .widercontainer {
        padding-top: 1rem;
        height: 100%;
    }
    .figur1 {
        display: flex;
        /* height: 40rem; */
        /* height: 29rem; */
        height: 100%;
    }
    .showcase .container {
        height: 100%;
        width:50%;
        text-align: left;
        padding-top: 11rem;
    }
    .showcasecontent h1 {
        font-size: var(--font-60px);
    }
    .showcasecontent p {
        font-size: var(--font-18px);
    }
    .btn-primary {
        width: auto;
    }
    .container-l h1 {
        font-size: var(--font-40px);
        text-align: left;
    }
    .container-l p {
        font-size: var(--font-18px);
    }
    /* .container-l2 h1 {
        font-size: var(--font-40px);
     }
     .container-l2 p {
        font-size: var(--font-18px);
     } */
     .showcase {
        /* height: 65vh; */
        height: 44rem;
     }
     .aboutus .container {
         padding-top: 2rem;
         /* height: 100vh; */
     }
     .gridsection {
        padding: 0;
    }
    .appleft {
        float: left;
        width: 70%;
    }
    .appright {
        float: right;
        width: 30%;
    }
    .btn-sec {
        background: #fff;
        color: var(--clr-blue-bluecolour);
        width: 70%;
        height: 20%;
        margin: 3rem;
        /* text-align: center; */
        padding: 0;
    }
}







@media (min-width: 992px) {
  /* .links a {
    font-size: var(--font-16pt);
    padding-left: 1.1rem;
  } */
  .gridsection ul, .gridcontainer {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
}
.btn-sec {
    /* font-size: var(--font-16px); */
    height: 3rem;
    width: 16rem;
    padding: 0.5rem 1rem;
}

@media (min-width: 1050px) {
    /* .links a {
        font-size: var(--font-16pt);
        padding-left: 1.1rem;
      } */
}
@media (min-width: 1200px) {
    /* .links a {
        font-size: var(--font-18pt);
        padding-left: 2rem;
      } */
      .btn-sec {
        font-size: var(--font-16px);
      }
    
}

@media (min-width: 1400px) {
    /* .links a {
        font-size: var(--font-18pt);
        padding-left: 2rem;
      } */
      .gridsection ul, .gridcontainer {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
    }
    .gridsection {
        padding: 4rem 7rem 5rem 7rem;
    }
    .container-l2 h1 {
        font-size: var(--font-40px);
     }
     .container-l2 p {
        font-size: var(--font-18px);
     }

}
@media (min-width:1860px) {
    .container-l2 {
        display: flex;
     
     }
} 

