/* 
=====================
IMPORTS
=====================
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* 
=====================
RESET - Default Styles
=====================
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
=====================
VARIABLES
=====================
*/
:root {
     /*Fonts*/
    --font-p: 'Roboto', sans-serif;
    --font-h1: 'Roboto Slab', serif;

    /*Fonts Sizes*/
    --font-16px: 1rem;
    --font-18px: 1.125rem;
    --font-22px: 1.375rem;
    --font-24px: 1.5rem;
    --font-30px: 1.875rem;
    --font-40px: 2.5rem;
    --font-60px: 3.75rem;
    /* Colours */
    --clr-green-textfooter: #f3fbff;
    --clr-green-regular: #25e6c8;
    --clr-grey-ouline: #d2d2d2;
    --clr-grey-placeholder: #dedede;
    --clr-grey-placeholder2:#bfbfbf;
    --clr-grey-textcolour: #626262;
    --clr-grey-bordercolour: #707070;
    --clr-white-background: #f7f7f7;
    --clr-black-titlecolour: #363636;
    --clr-blue-bluecolour: #2baaec;
    --clr-blue-backgrounddark: #163c70;
}


/* 
=====================
GLOBAL HELP - CLASSES
=====================
*/
body, html {
    font-family: 'Roboto', 'sans-serif';
    line-height: 1.6;
}

.container {
    width: 100%;
    margin: 0 auto;
}
.btn {
    padding: 0.75rem 2.5rem;
    display: inline-block;
    font-weight: bold;
    font-size: var(--font-18px);
    background: transparent;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    outline: none;
    cursor: pointer;
}


/* 
=====================
SECTION TOP MENU
=====================
*/
.topbar {
    height: 3.75rem;
    width: 100%;
    border-bottom: 1px solid #707070;
    display: flex;
    align-items: center;
    display: none;
}
.workHours {
    color: var(--clr-grey-textcolour);
    font-family: var(--font-p);
    font-size: var(--font-16px);
}
.fa-clock {
    font-size: 1.25rem;
    padding: 0 0.5rem;
    color: var(--clr-blue-bluecolour);
}

.topbar .container {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    color: var(--clr-blue-bluecolour);
    align-items: center;
}
.socMedia {
    display: flex;
    justify-content: space-between;
    width: 9%;
    font-size: 1rem;
}

.fa-twitter {
    color: var(--clr-blue-bluecolour);
}
.fa-twitter:hover {
    color: var(--clr-green-regular);
    transition: all 0.3s linear;
    transform: scale(1.8);
}
.fa-facebook-f {
    color: var(--clr-blue-bluecolour);
}
.fa-facebook-f:hover {
    color: var(--clr-green-regular);
    transition: all 0.3s linear;
    transform: scale(1.8);
}
.fa-google-plus-g {
    color: var(--clr-blue-bluecolour);
}
.fa-google-plus-g:hover {
    color: var(--clr-green-regular);
    transition: all 0.3s linear;
    transform: scale(1.8);
}
.fa-instagram {
    color: var(--clr-blue-bluecolour);
}
.fa-instagram:hover {
    color: var(--clr-green-regular);
    transition: all 0.3s linear;
    transform: scale(1.8);
}


/* 
=====================
SECTION MAIN MENU
=====================
*/
.mainmenu {
    padding: 2rem 0;
}
.mainmenu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    padding-left: 0.5rem;

}
.logo img {
    /* height: 4rem; */
    width: 10rem;
} 
.logo:hover {
    transition: all 0.3s linear;
    transform: scale(1.1);
}

.fa-bars {
    font-size: 2.5rem;
    padding: 0.5rem 0.75rem;
    color:var(--clr-blue-bluecolour);
    background: transparent;
    border: 1px solid transparent;
}
.fa-bars:hover {
    color: var(--clr-green-regular);
    transition: all 0.3s linear;
    transform: scale(1.1);
}

/* Hide Links in mobile view */
.linkbox:not(.show) {
    display: none;
}
.links {
    display: flex;
    list-style: none;
}
.links a {
    display: inline-block;
    text-decoration: none;
    padding-left: 1.8rem;
    color: var(--clr-grey-textcolour);
    font-family: var(--font-h1);
    font-size: var(--font-16px);
    font-weight: bold;
}
.links a:hover {
    color: rgb(34, 34, 34);
    transition: all 0.3s linear;
    transform: scale(1.2);
}

/* 
=====================
SECTION SHOWCASE
=====================
*/
.showcase {
    background:var(--clr-grey-placeholder) ;
    margin-top: 2rem;
}
.showcase .showbox {
    display: flex;
    justify-content: space-between;
    /* column-gap: 6rem; */
    align-items: center;
    margin: auto;
}
.showcase .showbox .showcasecontent {
    padding: 2rem 2rem;
}
.showcase .showbox .showcasecontent h1 {
    font-size: 1.5rem;
    font-family: var(--font-h1);
    color: var(--clr-black-titlecolour);
    line-height: 1.1;
    text-align: center;
}
.showcase .showbox .showcasecontent p {
    font-size: var(--font-16px);
    font-family: var(--font-p);
    color: var(--clr-grey-textcolour);
}
.showcase .showbox img {
    height: 31.25rem;
    padding-top: 1rem;
    /* Hide in mobile view */
    display: none;
}
.btn-primary {
    background: var(--clr-green-regular);
    color: white;
    margin-top: 3rem;
    font-family: var(--font-p);
    padding: 0.75rem 2rem;
    /* 100% width in mobileview. Auto width larger than 768px */
    width: 100%;
}
.btn-primary:hover {
    background: var(--clr-blue-bluecolour);
    color: rgb(255, 240, 240);
    font-weight: bolder;
    font-size: 1.3rem;
    padding: 0.75rem 2.8rem;
    transition: all 0.3s linear;
    transform: scale(1);
} 



/* 
=====================
SECTION ABOUT US
=====================
*/
.aboutus .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 6rem;
}
.aboutus .container img {
    height: 38rem; 
    margin-top: 3rem; 
    flex: auto;
    /* Hide shadow img box in mobile view */
    display: none;
}
.aboutus .container .contentleft {
    margin-top: 4rem;
    flex: auto;
    /* Padding mobile view & zero big view */
    padding: 2rem 2rem;
}
.aboutus .container .contentleft .container-l h1 {
    font-family: var(--font-h1);
    font-size: 1.6rem;
    color: var(--clr-black-titlecolour);
    border-bottom: 4px solid var(--clr-green-regular);
    margin-bottom: 3rem;
    line-height: 1.2;
    padding-bottom: 1.5rem;
    text-align: center;
}
.aboutus .container .contentleft .container-l h1 span {
    color: var(--clr-blue-bluecolour);
}
.aboutus .container .contentleft .container-l p {
    font-family: var(--font-p);
    font-size: var(--font-16px);
    color: var(--clr-grey-textcolour);
    padding-bottom: 2rem;
}
.aboutus .container .contentleft .container-l2 {
    display: block;
 }
 .aboutus .container .contentleft .container-l2 h1 {
    font-family: var(--font-h1);
    font-size: var(--font-18px);
    padding-right: 3rem;
    color: var(--clr-blue-bluecolour);
 }
 .aboutus .container .contentleft .container-l2 p {
    font-family: var(--font-h1);
    font-size: var(--font-16px);
    padding-right: 3rem;
    color: var(--clr-black-titlecolour);
}

/* 
=====================
SECTION SERVICES
=====================
*/
.gridbox {
    width: 100%;
    background: var(--clr-white-background);
} 
.gridcontainer {
    /* display: grid;
    grid-template-columns: auto ; */
    padding: 4rem 0;
    background: var(--clr-white-background);
    width: 80%;
    height: 11rem;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
.content h1 {
    border-bottom: 0.25rem solid var(--clr-green-regular);
    padding: 1rem 1rem 1rem 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-family: var(--font-h1);
    font-size: var(--font-22px);
    color: var(--clr-black-titlecolour);
}

.gridsection span {
    font-family: var(--font-h1);
    font-size: var(--font-22px);
    color: var(--clr-black-titlecolour);
    
}
.gridsection p {
    font-family: var(--font-p);
    font-size: var(--font-18px);
    color: var(--clr-grey-textcolour);
    padding-top: 1rem;
}
.gridsection img {
    width: 6.75rem;
    height: 6.75rem;
    padding: 1rem;
    background: var(--clr-green-regular);
    background-size: 7.5rem 7.5rem;
    border-radius: 50%;
}
.gridsection img:hover {
    background: var(--clr-blue-bluecolour);
    /* box-shadow: 0 0 4pt 6pt var(--clr-green-regular); */
    /* box-shadow: 0 0 4pt 6pt var(--clr-blue-bluecolour); */
    box-shadow: 0 0 4pt 6pt rgba(43, 168, 236, 0.5);
    transition: all 0.3s linear;
}

.content {
    width: 33%;
}
.gridsection {
    width: 90%;
    margin: auto;
    background: var(--clr-white-background);
    padding:0;
}
.gridsection ul {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 100%;
    margin: auto;
    list-style-type: none;
    text-align: center;
    grid-gap: 2rem;
}

.gridsection li {
    height: 27.25rem;
    padding: 6rem 3rem;
    background: white;
    border-radius: 0.8rem;

}
.gridsection li:hover {
    transition: all 0.5s linear;
    box-shadow: 3px 6px 8px 3px #888;

}

/* 
=====================
 APPOINTMENTS SECTION
=====================
*/
.appointments {

    background: var(--clr-blue-bluecolour);
    height: 4rem;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.box {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 77%;
    height: 100%;
}
.appointments:after {
    position: absolute;
    content: "";
    background: white;
    bottom: 0;
    left: 11.5rem;
    right: 11.5rem;
    height: 1px;
    opacity: 0.6;
} 
.appointments .overlay {
    background:rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 100%;

}
.appleft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    flex: 1.5;
    text-align: center;
}


.appleft span {
    font-family: var(--font-h1);
    /* font-size: var(--font-16px); */
    font-size: 0.7rem;
    font-weight: normal;
    color: #fff;
    
    /* word-spacing: 0.1rem; */
}
.appright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1.2;
}

.btn-sec {
    display: flex;
    justify-content: center;
    text-align: center;
    background:#fff;
    color: var(--clr-blue-bluecolour);
    width: 7rem; 
    height: 2.4rem;
    font-family: var(--font-p);
    font-size: 0.7rem;
    padding: 0rem 1rem;
    border: 1px solid white;
    border-radius: 0.7rem;
    outline: none;
    cursor: pointer;  
}
.btn-sec:hover {
    background:var(--clr-blue-bluecolour);
    color:#fff ;
    font-weight: bolder;
    border: 2px solid #FFF;
}

/* 
=====================
 FOOTER SECTION
=====================
*/

footer {
    background:#2BAAEC;
    height: 5rem;
    width: 100%;
    margin: auto;
}
footer .footcontainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-p);
    font-size: var(--font-18px);
    color: #F3FBFF;
}



/*  ------------------M E D I A - Q U E R I E S -----------------------------------*/

/* 
======================================
MEDIA QUERY 576px
======================================
*/

    @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }

  /* 
======================================
MEDIA QUERY 768px
======================================
*/
  
  @media (min-width: 768px) {
    .container {
      max-
      width: 720px;
    }
    /* SHOWCASE MEDIAQUERY */
 
    .showcase .showbox {
        width: 73%;
        height: 75vh;
        column-gap: 0rem;
    }
    .showcase .showbox img {
        height: 100%;
    }
    /* SHOW TOP-BAR */
    .topbar {
        display:flex;
    }
    /* SHOW LINKS */
    .linkbox:not(.show) {
        display: flex;
    }
    /* HIDE HAMBURGER BAR */
    .fa-bars {
    display: none;
    }
    /* SHOWCASE MEDIAQUERY */

    .showcase .showbox img {
        display: flex;
    }
    .showcase .showbox .showcasecontent h1 {
        /* font-size: 3rem; */
        font-size: 2rem;
        text-align: left;
    }
    .btn-primary {
       width: auto;
    } 
    /* ABOUT US MEDIAQUERY */

    .aboutus .container img {
        display: flex;
    }
    .aboutus .container .contentleft {
        /* no padding big view */
        padding: 0;
    }
    .aboutus .container .contentleft .container-l h1 {
        font-size: var(--font-40px);
        text-align:left;
  }
    .aboutus .container .contentleft .container-l2 h1 {
        font-size: var(--font-40px);
  }
  .aboutus .container .contentleft .container-l2 p {
        font-size: var(--font-18px);
  } 
  /* SERVICES MEDIAQUERY */
  .gridsection ul, .gridcontainer {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;

}/* APPOINTMENTS MEDIAQUERY */

    .appright {
    justify-content: flex-end;
    /* padding-right: 4rem; */
    }

}

/* 
======================================
MEDIA QUERY 992px
======================================
*/
  
  @media (min-width: 992px) {
    .container {
      /* max-width: 726px; */
      max-width: 960px;
    }
    .logo img {
        /* height: 4rem; */
        width: 15rem;
    }
    /* SHOWCASE MEDIAQUERY */
 
    .showcase .showbox .showcasecontent {
        padding: 2rem 0rem;
    }
    .showcase .showbox .showcasecontent h1 {
        /* font-size: 3rem; */
        font-size: var(--font-60px);
    }
    .showcase .showbox .showcasecontent p {
        font-size: var(--font-18px);
    }
    /* APPOINTMENTS MEDIAQUERY */
    
    .appleft span {
        font-size: var(--font-16px);
        font-weight: normal;
        word-spacing: 0.1rem
    }


  /* 
======================================
MEDIA QUERY 1200px
======================================
*/
  
  @media (min-width: 1200px) {
    .container{
      max-width: 1140px;
    }
    /* SHOWCASE MEDIAQUERY */
    .showcase .showbox {
        column-gap: 6rem;
    }
    .showcase .showbox .showcasecontent {
        padding: 2rem 3rem;
    }
    .showcase .showbox img {
        height: 100%;
    }
     /* SERVICES MEDIAQUERY */
    .gridsection ul, .gridcontainer {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
    }
    .gridsection {
        padding: 4rem 7rem 5rem 7rem;
    }
    .content h1 {
        font-size: var(--font-40px);
        margin: auto;
    }
    /* ABOUT US MEDIAQUERY */
    .container-l2 h1 {
        font-size: var(--font-40px);
     }
     .container-l2 p {
        font-size: var(--font-18px);
     }
     /* Horizontal text l2 */
     .aboutus .container .contentleft .container-l2 {
        display: flex;
    }
    /* APPOINTMENTS MEDIAQUERY */
    .appointments {
        height: 11rem;
    }
    .appleft span {
        /* font-size: var(--font-30px); */
        font-size: 1.7rem;
        font-weight: bold;
    }
    .btn-sec {
        align-items: center;
        width: 18rem; 
        height: 4rem;
        font-size: var(--font-18px);
        font-weight: bold;
    }
  }

  }
  
/*   
  @media (min-width: 1400px) {
    .container{
      max-width: 1330px;
    } */
}